.userpgcategory {
    margin-left: 0px !important;
    position: relative; bottom: auto; overflow-x: hidden; max-height: 90%;
}
.userpgcategory li {
    width: 100%;
    padding: 0px;
    border: none !important;
    border-bottom: 1px solid #ececec !important;
    margin-bottom: 0 !important;
    position: static;
    float: left;
    list-style-type: none;
}
.userpgcategory li a, .userpgcategory li span {
    text-decoration: none;
    transition-duration: .3s;
    padding: 2px 5px !important;
    float: left;
    width: 100%;
    color: #333;
}

.userpgcategory li:hover a, .userpgcategory li:hover i, .userpgcategory li:hover span {
    /* background-color: rgb(159, 25, 50); */
    /* background-color: rgb(10, 100, 100); */
    background-color: cyan;
    color: #fff;
    cursor: pointer;
    transition: all .1s ease;
}

.userpgcategory li i {
    /* color: rgb(159, 25, 50); */
    /* color: rgb(40, 75, 100); */
    color: black;
    text-align: center;
    padding: 5px 5px;
    width: 50px;
}
.userpgcategory li a p {
    padding-left: 15px;
}

.cardcategories {
    padding: 0px !important;
}
